body {
    color:#dbdbdb;
    margin:0px;
}

/* Style the top navigation bar */
nav {
    padding-top:25px; 
    padding-bottom:25px;
    padding-left:45px;
    border-bottom: 1.5px solid #424242;
    color: rgb(236, 219, 192); /* Beige text color */
    overflow: hidden; /* Hide overflow */
    background-color: #563c10; /* beige nav background color */
  }
  
/* Style the navigation bar links */
nav a {
    float: left;  /*Logo on left*/
    /*display: block;  Change the display to block */
    color: rgb(236, 219, 192); /* Beige text color */
    text-align: center;
    padding: 14px 20px; /*space between texts and border*/
    font-size:20px;
    text-decoration: none; /* Remove underline */
  }
  
/* Change color on hover/mouse-over */
nav a:hover {
    color: rgb(213, 194, 174); /* Darker text color when hovered */
  }
  
/* Navigation links */
.navright {
    float: right;  /*Make sure that the links stay on the right*/
    display: block; /* Change the display to block */  
    font-size:20px;
    padding-top: 20px;  /*space between texts and borders*/
    padding-left:20px; 
    padding-right:30px;
    text-decoration: none; /* Remove underline */
}

/* when hovering over images, lover opacity to show the user that they are hovering over the image */
img:hover{
  opacity:0.9;
}

main {
  width:100%;
  padding-bottom:5em;
  align-content:center;
  text-align:center;
}



.box {
  display:inline-block;
  flex:auto;
  padding:10px 30px;
  border: 4px solid rgb(255, 255, 255, .2);
  background-color:#5c4b2eb6;
  margin-top:0.5%;
  min-width:300px;
}

.box img {
  height:8em;
  width:7em;
  margin:5px;
}

.text {
  display:inline-block;
  max-width:150px;
}

.details{
  margin-top: 50px;
  width: 50%;
}