body {
    color:#dbdbdb;
    margin:0px;
}

/* Style the top navigation bar */
nav {
    padding-top:25px; 
    padding-bottom:25px;
    padding-left:45px;
    border-bottom: 1.5px solid #424242;
    color: rgb(236, 219, 192); /* Beige text color */
    overflow: hidden; /* Hide overflow */
    background-color: #563c10; /* beige nav background color */
  }
  
/* Style the navigation bar links */
nav a {
    float: left;  /*Logo on left*/
    /*display: block;  Change the display to block */
    color: rgb(236, 219, 192); /* Beige text color */
    text-align: center;
    padding: 14px 20px; /*space between texts and border*/
    font-size:20px;
    text-decoration: none; /* Remove underline */
  }
  
/* Change color on hover/mouse-over */
nav a:hover {
    color: rgb(213, 194, 174); /* Darker text color when hovered */
  }
  
/* Navigation links */
.navright {
    float: right;  /*Make sure that the links stay on the right*/
    display: block; /* Change the display to block */  
    font-size:20px;
    padding-top: 20px;  /*space between texts and borders*/
    padding-left:20px; 
    padding-right:30px;
    padding-bottom:10px;
    text-decoration: none; /* Remove underline */
}

/* when hovering over images, lover opacity to show the user that they are hovering over the image */
img:hover{
  opacity:0.9;
}

main {
  width:100%;
  display:grid; 
  place-content: center;
  position: fixed; 
  padding-bottom:50em;
  
}

/*order table */
table {
  width:80%;
  overflow: scroll;
  overflow-x: auto;
  /*position: absolute;*/
  background: #5c4b2eb6;
  margin-left:10%;
  margin-right:10%; 
  margin-top:3%; /* space between top of website and table*/
}

tr, th, td {
  border: 4px solid rgb(255, 255, 255, .2);
  border-collapse: collapse;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  text-align:center;
  color:antiquewhite;   
  
}


