body {
    color:#dbdbdb;
    margin:0px;
}

/* Style the top navigation bar */
nav {
    padding-top:25px; 
    padding-bottom:25px;
    padding-left:45px;
    border-bottom: 1.5px solid #424242;
    color: rgb(236, 219, 192); /* Beige text color */
    overflow: hidden; /* Hide overflow */
    background-color: #563c10; /* nav background color */
  }
  
/* Style the navigation bar links */
nav a {
    float: left;  /*Logo on left*/
    color: rgb(236, 219, 192); /* Beige text color */
    text-align: center;
    padding: 14px 20px; /*space between texts and border*/
    font-size:20px;
    text-decoration: none; /* Remove underline */
  }
  
/* Change color on hover/mouse-over */
nav a:hover {
    color: rgb(213, 194, 174); /* Darker text color when hovered */
  }
  

/* when hovering over images, lover opacity to show the user that they are hovering over the image */
img:hover{
  opacity:0.9;
}

main { /*main content */
  width:100%;
  padding-bottom:3em;
  align-content:center;
  text-align:center;
}

/* Navigation links */
.navright {
  float: right; /*Make sure that the links stay on the right*/
  display: block; /* Change the display to block */
  font-size:20px;
  padding-top: 20px; /*space between texts and borders*/
  padding-left:20px;
  padding-right:30px;
  text-decoration: none; /* Remove underline */
}

.box { /*css flex box */
  display:inline-block;
  flex:auto;
  padding:10px 30px;
  border: 4px solid rgb(255, 255, 255, .2);
  background-color:#5c4b2eb6;
  margin-top:0.5%;
  min-width:300px;
}

.box img { /*img in flex boxes */
  height:8em;
  width:7em;
  margin:5px;
}

.text { /*texts in flex boxes */
  display:inline-block;
  max-width:150px;
}

.details{ /*form in order page */
  margin-top: 30px;
  width: 50%;
}


footer { /* footer */
  padding-top:3px;
  width:100%;
  bottom: 0;
  background-color:#533923;
  color:white;
}

.order {
    text-align: center;
}

footer:not(.order) {
    position: fixed;
}

footer a {
  color:#e7d7c6;
  text-decoration:none;
}

footer a:hover{
 color:#c7c6c6;
}